//created by lollipop 2017/11/21
.swiper-slide.box5(data-hash="slide5")
    include ../includes/header
    img.page-num.ani(src="images/forms/5-5.png",swiper-animate-effect="slideInRight",swiper-animate-duration=".5s",swiper-animate-delay=".19s")
    ul.commited
        //问题12
        li.inner.ani(swiper-animate-effect="zoomIn",swiper-animate-duration=".5s",swiper-animate-delay=".49s")
            img(src="images/forms/question12.png", class="question12")
            .choice
                - var tewlevethList = {1:5,2:8,3:10,4:13,5:15,6:20}
                each item, index in tewlevethList
                    label.label-container
                        img(src=`images/forms/question12/${index}.png`)
                        input.nair-radio-input(type="radio" name="gains", value=`${item}`)
                        span.nair-radio-inner
        //问题13
        li.inner.ani(swiper-animate-effect="zoomIn",swiper-animate-duration=".5s",swiper-animate-delay=".59s")
            img(src="images/forms/question13.png", class="question13")
            .choice
                - var thirteenthList = {1:1,2:0}
                each item, index in thirteenthList
                    label.label-container
                        img(src=`images/forms/question13/${index}.png`)
                        input.nair-radio-input(type="radio" name="morethanbefore", value=`${item}`)
                        span.nair-radio-inner
        //问题14
        li.inner.ani(swiper-animate-effect="zoomIn",swiper-animate-duration=".5s",swiper-animate-delay=".69s")
            .label-text
                img(src="images/forms/question14.png", class="question14")
                input(type="number", id="wefare", name="wefare")
        //问题15
        li.inner.ani(swiper-animate-effect="zoomIn",swiper-animate-duration=".5s",swiper-animate-delay=".79s")
            img(src="images/forms/question15.png", class="question15")
            .choice
                - var fifteenthList = {1:1,2:0}
                each item, index in fifteenthList
                    label.label-container
                        img(src=`images/forms/question15/${index}.png`)
                        input.nair-radio-input(type="radio" name="jobchange", value=`${item}`)
                        span.nair-radio-inner
        //问题16
        li.inner.ani(swiper-animate-effect="zoomIn",swiper-animate-duration=".5s",swiper-animate-delay=".89s")
            img(src="images/forms/question16.png", class="question15")
            .choice
                - var sixteenthList = {1:'金融行业',2:'其他行业'}
                each item, index in sixteenthList
                    label.label-container
                        img(src=`images/forms/question16/${index}.png`)
                        input.nair-radio-input(type="radio" name="hopindustry", value=`${item}`)
                        span.nair-radio-inner
        //问题17
        li.inner.ani(swiper-animate-effect="zoomIn",swiper-animate-duration=".5s",swiper-animate-delay=".89s")
            img(src="images/forms/question17.png", class="question17")
            .choice
                - var seventeenthList = {1:'15',2:'20',3:'25',4:'30',5:'35',6:'40'}
                each item, index in seventeenthList
                    label.label-container
                        img(src=`images/forms/question17/${index}.png`)
                        input.nair-radio-input(type="radio" name="hopgains", value=`${item}`)
                        span.nair-radio-inner
    img.submit#submit(src="images/forms/submit.png",onclick="submitFormData()",swiper-animate-effect="slideInup",swiper-animate-duration=".5s",swiper-animate-delay=".99s")
    img.logo51jrq.ani(src="images/forms/logo51jrq.png",swiper-animate-effect="slideInup",swiper-animate-duration=".5s",swiper-animate-delay="1.09s")